nav {
    padding: 20px;

    a {
        padding: 10px 15px;
        text-decoration: none;
        background-color: var(--theme-color);
        color: #fff;
        font-size: 14px;
        border-radius: 5px;
        text-transform: uppercase;
        margin: 1em 20px;
    }
}